@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sfpro;
}

@media (min-width: 1024px) {
    .promotion-block:before {
        --tw-bg-opacity:1;
        background-color: #fd0;
        background-color: rgba(255,221,0,var(--tw-bg-opacity));
        content: "";
        left: calc(50% - 23px);
        padding-top: 20%;
        position: absolute;
        top: 0;
        transform: translateX(-50%) rotate(-33deg);
        width: 200vw
    }
}