@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sfpro;
}

@media (min-width: 1024px) {
    nav:before {
        --tw-bg-opacity:1;
        background-color: #fd0;
        background-color: rgba(255,221,0,var(--tw-bg-opacity));
        content: "";
        left: calc(50% - 23px);
        padding-top: 20%;
        position: absolute;
        top: 0;
        transform: translateX(-50%) rotate(-33deg);
        width: 200vw;
        z-index: -1;
    }
}

body {overflow-x: hidden;}

/* .mySwiper1 {
    box-shadow: 0px 0px 100px 54px rgba(0,0,0,0.1);
} */

.resNav {
    box-shadow: 0px 41px 50px 5px rgba(0,0,0,0.1);
}